@model TDP.Models.Application.DataTransfer.MovieCollection
@{
    ViewData["Title"] = "Home Page";

}

    <form asp-controller="Api" asp-action="Search">
        <p>
            Title: <input type="text" name="title" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <form asp-controller="Api" asp-action="FindByTitle">
        <p>
            Title: <input type="text" name="title" />
            <input type="submit" value="FindByTitle" />
        </p>
    </form>




</div>