@model TDP.Models.Application.DataTransfer.MovieCollection
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Movie" asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input type="text" id="title" name="title" class="form-control" placeholder="Title">
        <input type="text" id="releaseYear" name="releaseYear" class="form-control" placeholder="Year released">

        <select class="custom-select" id="type" name="type">
            <option value="movie" selected>Movies</option>
            <option value="series">Series</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
            <input type="hidden" id="pageNumber" name="pageNumber" value="1" />
        </div>

    </div>
</form>