@{
    ViewData["Title"] = "Watchlist";
}
<h1>@ViewData["Title"]</h1>

<p>Watchlistlistist</p>

<form id="watchList" method="post" asp-controller="Movie" asp-action="GetAllFromWatchList">
                        <input type="hidden" name="userId" value="DD58F514-9637-482F-B3BD-2B4C2868F389" />


    <button class="btn btn-outline-secondary" type="submit">Watchlist</button>
</form>